@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0E0F14;
}


.order-modal {
  height: 70vh;
}

@media (min-width: 768px) {
  .order-modal {
    height: calc(80px + 70vh);
  }
}

